<div class="form-group text-center">
    <input (blur) = validateName() [(ngModel)]="userToUpdate.name" type="text" placeholder="Name" class="form-control col-10 offset-1" />
    <small *ngIf="nameValidationFailed " class="text-danger">* name is required</small>
</div>
<div class="form-group text-center">
    <input (blur) = validateEmail() [(ngModel)]="userToUpdate.email" type="email" placeholder="Email" class="form-control col-10 offset-1" />
    <small *ngIf="emailValidationFailed " class="text-danger">* please enter a valid email address</small>
</div>
<div class="form-group col-10 p-0 offset-1">
    <mat-radio-group aria-label="Select an option" [(ngModel)]="userToUpdate.role">
        <mat-radio-button [value]="'Admin'">Admin</mat-radio-button>
        <mat-radio-button [value]="'Customer Executive'">Customer Executive</mat-radio-button>
    </mat-radio-group>
</div>
<div class="form-group col-10 p-0 offset-1">
    <mat-radio-group aria-label="Select an option" [(ngModel)]="userToUpdate.status">
        <mat-radio-button [value]="'Pending'">Pending</mat-radio-button>
        <mat-radio-button [value]="'Active'">Active</mat-radio-button>
        <mat-radio-button [value]="'Inactive'">Inactive</mat-radio-button>
    </mat-radio-group>
</div>
<div class="form-group text-center">
    <input (blur) = validateMobile() type="number" [(ngModel)]="userToUpdate.mobile" placeholder="Mobile Number (Optional)" class="form-control col-10 offset-1" />
    <small *ngIf="mobileValidationFailed " class="text-danger" >* please enter valid mobile number</small>
</div>
<div class="form-group text-center">
    <button (click)="onCreateClick()" class="btn btn-yellow col-10 text-white">{{ isEditor?'Update':'ADD'}} USER</button>
</div>