.full-width-table {
  width: 100%;
}

.mat-elevation-z8 {
  background:#fff;
}

.table-header-logo{
  filter : invert(0.8)
}

.mat-header-cell{
  color:black;
  font-size: 14px;
}

.header{
  font-size:18px;
}

.search_ico{
  background: url("/assets/ico_search.svg");
  height: 18px;
  width: 18px;
  display: block;
  position: absolute;
  top: 50%;
  right: 25px;
  margin-top: -10px;
}

.btn-yellow{
  background-color: #ffaf2a
}