<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><img src="/assets/Logo.svg" /></a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" [collapse]=isCollapsed>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard']" [ngClass]="{'active': router.url=='/dashboard' }" >
          <img class="svg_ico" height="24" width="24" src="/assets/ico_dashboard.svg" /> Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  [routerLink]="['/users']" [ngClass]="{'active': router.url=='/users' }" >
          <img class="svg_ico" height="24" width="24" src="/assets/ico_users.svg" /> Users
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  [routerLink]="['/sessionmanager']" [ngClass]="{'active': router.url=='/sessionmanager' }" >
          <img class="svg_ico" height="24" width="24" src="/assets/ico_sessionmanager.svg" /> Session Manager
        </a>
      </li>
    </ul>
  </div>
  <div class="navbar-nav-scroll impersonate">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link" href="#" onclick="return false;">
          <img class="svg_ico" height="24" width="24" src="/assets/ico_notification.svg" />
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" onclick="return false;">
          <img class="svg_ico" height="24" width="24" src="/assets/ico_user.svg" />
          John Smith
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" onclick="return false;">
          <img class="svg_ico" height="15" width="15" src="/assets/ico_downarrow.svg" />
        </a>
      </li>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </ul>
  </div>
</nav>